
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logged In</title>
</head>
<body>
<div>
    You are logged in...
</div>
</body>
</html>
